/* Etiquetas */
body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

header{
    display: flex;
    background: rgb(45, 45, 45);
    height: 75px;
    color: white;
    justify-content: space-between;
    align-items: center;
}

header a{
    color: white;
    width: 150px;
}

h1{
    display: inherit;
    background: black;
    /* width: 200px; */
    height: 80%;
    margin: 0;
    align-items: center;
}

h1 img{
    height: inherit;
}

nav{
    display: inherit;
}

ul{
    display: inherit;
    margin: 0;
    padding-inline-start: 0px;
}

li{
    display: inherit;
    width: 150px;
}

li a{
    display: inherit;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 75px;
}

/* li a:enabled{
    background-color: brown;
} */

li a:hover{
    background: lightblue;
    color: black;
}
/* Clases */


/* Id's */
#Login{
    /* background: lightblue; */
}